

.header {
  height: auto;

}
.info-pane {
  font-size: 8px;

}
.navbar-brand {
  height: 40px;

}
.navbar-brand img{
  height:100%;
  width: auto
}
.drop-down {
  height: 40px;

}
.drop-down img {
  width: 40px;
  height: 40px;
}
.navbar-container {
  min-height: 40px;
}

.nav-menu {
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
}
.search-pane{
  height: auto;

}
.search-form{
  padding:0 3%;
  width:94%;
  height: auto;

}
.nav-items {
  width: 95%;
}
.nav-items img{
  order:2
}
.nav-items a {
  width: 70%;
  padding: 10px 15%;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#drop-down:checked ~ .navbar {
  height: 90vh;
}

.search-title {
  font-size: 16px;
}
.date-picker,
.btn-room {
  width: 100%;
  margin: 5px auto;
}
.form-submit,
.form-row {
  height: auto;
}
.oblique-img img {
  height: 70px;
}
.travel-header {
  height: 50px;
}
.travel-title {
  font-size: 18px;
  height: 50px;
}
.travel-header img {
  height: 45px;
}
.city-list {
  margin: 0;
}
.city-item {
  width: 100%;
  margin: 1px 0;
}

.travel-pane {
  height: auto
}

#banner1{
  height:50vh;

}
.banner-text{
  width: 100%;

  bottom:0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 
}
.banner-text h1{
  font-size: 35px
}
.banner-text h5{
  font-size: 16px
}
.arrow{
  width:30px;
margin: 0 15px
}
.arrow-left{  left:0;}
.arrow-right{

  right:0
}

.travel-banner-text h1 {
  font-size: 36px;
}
.travel-banner-text b {
  font-size: 24px;
}

.section-head a {
  font-size: 26px;
}
.section-head p {
  padding: 0 15%;
  line-height: 30px;
}
.side-list {
  position: relative;
}
.city-menu {
  background: white;

  width: calc(100% - 40px);
  padding: 20px;
  margin: 0;

  height: auto;
}
.city-menu li {
  font-size: 11px;
}
.hotel-card {
  width: 90%;
  margin: 10px auto;
  display: flex;
  font-size: 14px;
  min-width: 350px;
  max-height:182px;
}
.hotel-img{
min-width: 220px;
 width:70%;
}
.hotel-img img{
width:100%;
height: 100%;
}
.hotel-name,
.hotel-price{
  padding:10px;
}
.hotel-name{
  height: 40%;
}


.circuit-head div {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 30px 21px
}
.tour-card {
  width: 90%;
}
.contact-pane {
  padding: 10px;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px) !important ;
  margin: 0;
}
.contact-col {
  width: 100%;
  border-top: 1px solid white;
  padding: 10px 0;
}
.contact-col:nth-of-type(1) {
  border: none;
}
.contact-map {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}
.contact-adress {
  width: 50%;
  justify-content: space-between;
}

.col-map h1 {
  margin: 10px 0;
  padding: 0;
}
.contact-adress iframe {
  margin: 0 auto;
  width: 98%;
}
footer {
  flex-direction: column;
  height: auto;
  justify-content: center;

  align-items: center;
  padding: 0;
  width: 100%;
}
footer div {
  padding: 0 10px;
  text-align: center
}
